<!--************************************************************
 * File:            changePasswordBar.component.js
 * Author:          Michelle Rothenbuecher, Plisam Ekpai-Laodema
 * LastMod:         13.12.2016
 * Description:     Knockout Template for change password bar.
 ************************************************************-->
<section style="min-height:300px; margin-top: 2rem">
	<div class="container">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputOldPassword" class="col-sm-2 control-label btn-margin-bottom">Old Password</label>
				<div class="col-sm-4">
					<input data-bind="value: passwordOld" type="password" class="form-control btn-margin-bottom" id="inputOldPassword" placeholder="Old Password">
				</div>
			</div>
			<div class="form-group">
				<label for="inputNewPassword1" class="col-sm-2 control-label">New Password</label>
				<div class="col-sm-4">
					<input data-bind="value: passwordNew" type="password" class="form-control" id="inputNewPassword1" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="inputNewPassword2" class="col-sm-2 control-label">Confirm New Password</label>
				<div class="col-sm-4">
					<input data-bind="value: passwordNew2" type="password" class="form-control" id="inputNewPassword2" placeholder="Confirm Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5">
					<a href="" type="submit" data-bind="click: accept" class="btn btn-success "><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept</a>
					<a href="/pages/myProfile" type="submit" data-bind="click: cancelEditOffer" class="btn btn-danger btn-margin-left"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
				</div>
			</div>
		</form>
	</div>
</section>