<!--************************************************************
 * File:            errorModalDialog.component.html
 * Author:          Jonas Kleinkauf
 * LastMod:         02.12.2016
 * Description:     Knockout Template for error modal dialog.
 ************************************************************-->
<div class="modal fade modal-md" id="errorModalDialog" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title error-title" role="alert">An error occurred.. <span>(Sorry for this! :P)</span></h4>
			</div>
			<div class="modal-body" data-bind="foreach: { data: errors, as: 'error' }">
                <p data-bind="text: error" />
			</div>
			<div class="modal-footer">
				<div class="text-center">
					<button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>