/************************************************************
 * File:            newOfferBar.component.css
 * Author:          Patrick Hasenauer
 * LastMod:         11.12.2016
 * Description:     Custom CSS for new offer wizard
 ************************************************************/

/* Special component css here and general css in main.css */
#new-offer-wizard .progress {
    margin-bottom: 0px;
    margin-top: 5px;
}

#new-offer-wizard fieldset legend > * {
    margin-bottom: 10px;
}

#new-offer-wizard #uploaded-files .img-row-2 {
    margin-top: 20px;
}

#new-offer-wizard #uploaded-files {
    min-height: 150px;
}

#new-offer-wizard .valid,
#new-offer-wizard .valid + .btn-group {
    border: 1px solid green;
}

#new-offer-wizard .inValid,
#new-offer-wizard .inValid + .btn-group{
    border: 1px solid red;
}
