/************************************************************
 * File:            myProfileBar.component.css
 * Author:          Michelle Rothenbücher, Patrick Hasenauer
 * LastMod:         04.12.2016
 * Description:     Custom CSS for myprofilebar.
 ************************************************************/
/* Special component css here and general css in main.css */

.offer-brief-title,
.offer-brief-favorite-icon,
.offer-brief-edit-button {
  padding-left: 0px;
  padding-right: 0px;
}

@media only screen and (max-width : 768px) {
  .profile-detail-row-xs {
    margin-bottom: 1.5rem
  }
}

.tab-container{
  margin-left: -15px;
}

@media only screen and (max-width : 992px) {
 .offer-brief-edit-button {
     margin-bottom: 1rem;
      text-align: left;
  } 
}

.offer-brief-edit-button {
    padding-right: 0px;
    text-align: right;
}
@media only screen and (max-width : 992px) {
 .offer-brief-edit-button {
     margin-bottom: 1rem;
      text-align: left;
  } 
}

.panel-offer-result {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.offer-result-keyfigures {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 0.5rem;
}

.created-on {
  padding: 0px;
  margin-top: 5px;
  color: #999999;
}

.label {
  line-height: 2.5rem !important;
}

@media only screen and (min-width : 768px) {
  .row-eq-height-md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}