<!--************************************************************
 * File:            demoWarningBar.component.html
 * Author:          Patrick Hasenauer
 * LastMod:         02.12.2016
 * Description:     Knockout Template for demo warning bar.
 ************************************************************-->
<!-- ko if: warningMessage -->
<div id="top">
    <div class="container">
        <div class="col-xs-12">
            <p data-bind="text: warningMessage" class="text-center text-fat"></p>
        </div>
    </div>
</div>
<!-- /ko -->